#intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}



.header {
    display: flex;
    cursor: pointer;
    padding-top: 15px;
}
.header h3 {
    font-weight: 400;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 2em;
    padding-left: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    transition: border-color 300ms ease-out;
}
.header h3:hover {
    border-color: white;
    transition: border-color 300ms ease-in;
}



.inner {
    display: flex;
    align-items: center;
    min-width: 600px;
}

.inner img {
    width: 15vw; min-width: 200px;
}


.text-box {
    width: 30vw;
    flex: 1;
}
.text-box h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 10px;
}

.text-box h2 {
    letter-spacing: 8px;
}



@media screen and (max-width: 650px) {
    .inner {
        flex-direction: column;
        min-width: auto;
        margin: 40px;
    }

    .text-box {
        width: auto;
        text-align: center;
    }
}