<div id="founders">
    <div class="header" (click)="scrollToView()">
        <h3>founders</h3>
        <fa-icon [icon]="faArrowDown" [class.show-arrow]="!hideArrow && showArrow" [class.hide-arrow]="hideArrow" />
    </div>

    <div id="people">
        <div class="founder">
            <p class="name">Marrib</p>
            <p class="title"><i>Co-Founder & CEO</i></p>
            <p class="link"><fa-icon [icon]="faMail" />&nbsp; <a href="mailto:marrib@uttarasoftware.ca">marrib&#64;uttarasoftware.ca</a> </p>
            <p class="link"><fa-icon [icon]="faLinkedIn" />&nbsp; <a href="https://www.linkedin.com/in/marrib-rahman-824565193/" target="_blank">linkedin.com/in/marrib</a> </p>
        </div>

        <div class="founder">
            <p class="name">Ahnaf</p>
            <p class="title"><i>Co-Founder & CTO</i></p>
            <p class="link"><fa-icon [icon]="faMail" />&nbsp; <a href="mailto:ahnaf@uttarasoftware.ca">ahnaf&#64;uttarasoftware.ca</a> </p>
            <p class="link"><fa-icon [icon]="faLinkedIn" />&nbsp; <a href="https://www.linkedin.com/in/ahnav/" target="_blank">linkedin.com/in/ahnav</a> </p>
        </div>
    </div>

    <span>&nbsp;</span>
</div>